# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
# import numpy and pandas
import numpy as np
import pandas as pd
import os
from scipy import stats
import math as m

##### Extra codes for the future:

stats.ttest_ind(B,A) . Two sample test in a 2 tail test

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
os.chdir('/Users/abreualberto91/IRONHACK/Datasets/employees')
employees = pd.read_csv('employees_advanced.csv').drop('Unnamed: 0', axis =1)
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [3]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
employees['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
employees['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:

#H0: The hourly wage is equal to $30/hr
#Ha: The hourly wage is different to $30/hr

hourly_df = employees[(employees["Salary or Hourly"] == "Hourly")]["Hourly Rate"]

stats.ttest_1samp(hourly_df, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [9]:
'''Since p-value is very low, lower than 5%, we can reject the null hypothesis and we have evidence
for the alternative.'''

'Since p-value is very low, lower than 5%, we can reject the null hypothesis and we have evidence\nfor the alternative.'

In [10]:
hourly_df.describe()

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

H0: The mean salaries of this year are the same as last years. x - y = 0
H1: The mean salaries of this year are greater than last years. x - y > 0

alpha = 0.05

y = 86000

In [11]:
pol_salary_df = employees[(employees["Department"] == "POLICE")]["Annual Salary"]

result_ttest = stats.ttest_1samp(pol_salary_df, 86000, nan_policy="omit")

alpha = 0.05

if (result_ttest[0] > 0) & (result_ttest[1]/2 < alpha):
    print (f"Reject null hypothesis, we have evidence for alternative hypothesis\n")
else:
    print('We dont have statistical evidence to reject the null hypothesis')

print(result_ttest)

Reject null hypothesis, we have evidence for alternative hypothesis

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.00206034035510054)

In [12]:
# To do this manually for practice

police_salary_mean =employees[(employees["Department"] == "POLICE")]["Annual Salary"].mean()
police_salary_stf = employees[(employees["Department"] == "POLICE")]["Annual Salary"].std()
n = len(employees[(employees["Department"] == "POLICE")]["Annual Salary"])

print(police_salary_mean)
print(police_salary_stf)
print(n)

86486.41450313339
18272.22829399308
13414

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:
depart_emp = pd.crosstab(employees.Department, employees['Salary or Hourly']).sort_values(by='Hourly', \
                                                                                   ascending = False).head()

print(f'The department with most hourly workers is {depart_emp.index.values[0]} with {depart_emp.iloc[0][0]} employees')

The department with most hourly workers is STREETS & SAN with 1862 employees

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

H0: The hourly average wage of STREETS & SAN is $ 35/hour

H1: The hourly average wage of STREETS & SAN is less than $ 35/hour

In [ ]:
# Your code here:

sts_salary_df = employees[(employees["Department"] == "STREETS & SAN")]["Typical Hours"]

result_ttest = stats.ttest_1samp(sts_salary_df, 35, nan_policy="omit")

alpha = 0.05

if (result_ttest[0] > 0) & (result_ttest[1]/2 < alpha):
    print (f"Reject null hypothesis, we have evidence for alternative hypothesis\n")
else:
    print('We dont have statistical evidence to reject the null hypothesis')

print(result_ttest)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [23]:
import scipy
# Your code here:
hourly_wage = employees[employees['Salary or Hourly'] == 'Hourly']['Hourly Rate']

n = hourly_wage.shape[0]
std = np.std(hourly_wage)
quasi_std = std*(m.sqrt(n/(n-1)))


scipy.stats.t.interval(0.95,n-1 ,loc = np.mean(hourly_wage), scale=quasi_std/m.sqrt(n))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [24]:
# Your code here:

annual_sal_pol = employees[(employees["Department"] == "POLICE")]["Annual Salary"]

n = annual_sal_pol.shape[0]
std = np.std(annual_sal_pol)
quasi_std = std*(m.sqrt(n/(n-1)))


scipy.stats.t.interval(0.95,n-1 ,loc = np.mean(annual_sal_pol), scale=quasi_std/m.sqrt(n))

(86177.17167792388, 86795.6573283429)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: